<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0.jpg">
      <div class="card-body">
        Hulk
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0.jpg">
      <div class="card-body">
        Hulk
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0.jpg">
      <div class="card-body">
        Hulk
      </div>
    </div>
  </div>
</div>